
*.stackdump
*.segy
toys/p_wave_multi_geoph_Marmousi2_2.5m_5.mp4
toys/p_wave_multi_geoph_Marmousi2_2.5m_4.mp4
toys/p_wave_multi_geoph_Marmousi2_2.5m_3.mp4
toys/p_wave_multi_geoph_Marmousi2_2.5m_2.mp4
toys/p_wave_multi_geoph_BP_6.25m_1.mp4
toys/data/vel_z6.25m_x12.5m_exact.segy.7z
toys/data/vp_marmousi-ii.7z
toys/data/vel_z6.25m_x12.5m_exact.segy.7z
toys/velocities_from_images/White_Line_Logo.png
toys/velocities_from_images/REPSOL_3.tif
toys/velocities_from_images/REPSOL_2.tif
toys/velocities_from_images/REPSOL_2.png
toys/velocities_from_images/REPSOL_1.png
toys/velocities_from_images/REPSOL.png
toys/velocities_from_images/repsol-5.svg
toys/velocities_from_images/repsol-2.svg
toys/velocities_from_images/Orange_Line_Logo_sq.png
toys/velocities_from_images/Orange_Line_Logo.png
toys/velocities_from_images/Black_Line_Logo_REPSOLpng.png
toys/velocities_from_images/Black_Line_Logo_Only.png
toys/velocities_from_images/Black_Line_Logo_Horizontal.png
toys/repsol_line_logo.mp4
toys/repsol_color_logo.mp4
toys/repsol_2.mp4
toys/repsol.mp4
toys/p_wave_multi_geoph_Shenzi_9m_100_geoph_SALT.mp4
toys/p_wave_multi_geoph_BP_6.25m_100_geoph_SALT_3.mp4
toys/p_wave_multi_geoph_BP_6.25m_100_geoph_complex_SALT_2.mp4
data/100033305723W500.las
tutorials/.ipynb_checkpoints/FluidSubstitution-DR-checkpoint.ipynb
tutorials/FluidSubstitution-DR.ipynb
9257225ec216e13ff184ed1eb0f0bee70b81496a
